html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-size: 98px;
    color: #509956;
    background-color: #f8f6f6;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  div {
    font-family: start;
    text-align: center;
    letter-spacing: 5px;
  }
  
  @keyframes blinker {
    50% { opacity: 0; }
  }
  
  #cursor {
    animation: blinker 2.5s step-end infinite;
  }
  
  .colors {
    display: none;
  }
  @media screen and (max-width: 480px) {
    body {
      font-size: 40px;
      color: black;
  }
    
}
@media screen and (min-width: 600px){
  body{
    font-size: 98px;
  }
}